@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

$default-fontfamily: "Noto Sans TC", sans-serif;
$section-backgroungd-color: #FAFAFA;
$dummy-dom-border: 1px solid #919191;

$h3-fsize28: 28px;
$h3-lineheight: 33.6px;
$h3-weight700: 700;
$h3-color: #3B3B3B;
