*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.index-page .container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.index-page header.container {
  height: 96px;
  position: relative;

  .logo-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-lists {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    text-align: center;
    list-style-type: none;

    li {
      padding: 4px 8px;
      margin: 0 20px;
      font-family: 'Noto Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      &:hover {
        font-weight: 600;
      }
    }
  }
}

.index-page .main .slogan {
  display: flex;
  justify-content: space-between;

  .l-slogan {
    width: 40%;
    // padding: 248px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 24px;

    h2 {
      font-family: 'Noto Sans';
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 24px;
    }

    .span-groups {
      height: 30px;
      margin-bottom: 8px;
      font-family: 'Noto Sans';
      font-size: 0;
      font-weight: 400;
      line-height: 30px;
      color: #5B5B5B;

      span {
        font-size: 20px;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      .faker-dom {
        position: relative;

        img {
          width: 100%;
          position: absolute;
          z-index: -1;
          top: 70%;
          left: 0;
        }
      }

    }

    .depiction {
      font-family: 'Noto Sans';
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #5B5B5B;
      margin-bottom: 16px;
    }

    .web-skill {
      font-family: 'Noto Sans';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #C1C1C1;
      margin-bottom: 60px;
    }

    .icons {
      display: flex;
      justify-content: flex-start;
      list-style-type: none;

      li {
        width: 56px;
        height: 56px;
        margin-right: 16px;
        display: flex;

        img {
          margin: auto;
        }
      }

    }
  }

  .r-salogn {
    width: 60%;
    img {
      width: 100%;
      max-width: 1154px;
    }
  }
}

.index-page .main .introduction {
  padding-top: 120px;

  .introduction-title {
    width: 372px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 80px;
    color: #3b3b3b;

    .introduction-title-before,
    .introduction-title-after {
      width: 100px;
      position: relative;
    }

    .introduction-title-before {
      &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #c1c1c1;
      }

      &::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #c1c1c1;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .introduction-title-after {
      &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: 1px solid #c1c1c1;
      }

      &::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #c1c1c1;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    h3 {
      font-family: 'Noto Sans';
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      line-height: 39px;
      letter-spacing: 0.12em;
    }
  }

  .introduction-lists {
    list-style-type: none;

    .list-li {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &.one .li-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 3;
        .list-image {
          max-width: 55%;
          padding-top: 80px;
          align-self: self-end;
        }

        .list-content {
          align-self: center;
          display: flex;
          flex-direction: column;
          width: 526px;
          height: 400px;
          padding: 80px 40px 56px;
          border-radius: 24px 0px 0px 0px;
          background-color: #ffffff1a;

          >div {
            border-bottom: 1px solid #f1f1f1;
            margin-bottom: 40px;

            .list-header {
              font-family: 'Noto Sans';
              color: #ffffff;
              margin-bottom: 24px;

              h4 {
                font-size: 28px;
                font-weight: 700;
                line-height: 34px;
                margin-bottom: 8px;
              }

              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
              }
            }

            .list-tags {
              display: flex;
              justify-content: flex-start;
              list-style-type: none;
              margin-bottom: 40px;

              li {
                font-family: 'Noto Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                background-color: #ffffff;
                color: #3b3b3b;
                padding: 4px 12px;
                margin-right: 16px;
                border-radius: 16px;
              }
            }
          }

          .full-introduction {
            display: inline-block;
            width: 176px;
            padding: 16px 0;
            margin: 0 auto;
            background-color: #000;
            border-radius: 5px;
            border: none;

            span {
              color: #FFF;
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
              font-family: 'Noto Sans';
            }
          }
        }
      }

      &.two {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 50%;
          background-color: #0a101380;
        }
      }

      &.two .li-container {
        position: relative;
        z-index: 2;

        .left-content {
          padding: 200px 0;

          .list-content {
            display: flex;
            flex-direction: column;
            width: 526px;
            height: 400px;
            padding: 80px 40px 0;
            border-radius: 24px;
            background-color: #ffffff1a;

            >div {
              margin-bottom: 40px;
              border-bottom: 1px solid #f1f1f1;

              .list-header {
                font-family: 'Noto Sans';
                color: #ffffff;
                margin-bottom: 24px;

                h4 {
                  font-size: 28px;
                  font-weight: 700;
                  line-height: 34px;
                  margin-bottom: 8px;
                }

                p {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }

              .list-tags {
                display: flex;
                justify-content: flex-start;
                list-style-type: none;
                margin-bottom: 40px;

                li {
                  font-family: 'Noto Sans';
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  background-color: #ffffff;
                  color: #3b3b3b;
                  padding: 4px 12px;
                  margin-right: 16px;
                  border-radius: 16px;
                }
              }
            }

            .full-introduction {
              display: inline-block;
              width: 176px;
              padding: 16px 0;
              margin: 0 auto;
              background-color: #000;
              border-radius: 5px;
              border: none;

              span {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                font-family: 'Noto Sans';
              }
            }
          }
        }
      }

      &.three .li-container {
        display: flex;
        justify-content: space-between;

        .left-content {
          width: 55%;
          max-width: 721px;
          padding-top: 176px;

          img {
            width: 100%;
          }
        }

        .right-content {
          padding: 200px 0;

          .list-content {
            display: flex;
            flex-direction: column;
            width: 526px;
            height: 400px;
            padding: 80px 40px 0;
            border-radius: 24px;
            background-color: #ffffff1a;

            >div {
              margin-bottom: 40px;
              border-bottom: 1px solid #f1f1f1;

              .list-header {
                font-family: 'Noto Sans';
                color: #ffffff;
                margin-bottom: 24px;

                h4 {
                  font-size: 28px;
                  font-weight: 700;
                  line-height: 34px;
                  margin-bottom: 8px;
                }

                p {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }

              .list-tags {
                display: flex;
                justify-content: flex-start;
                list-style-type: none;
                margin-bottom: 40px;

                li {
                  font-family: 'Noto Sans';
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  background-color: #ffffff;
                  color: #3b3b3b;
                  padding: 4px 12px;
                  margin-right: 16px;
                  border-radius: 16px;
                }
              }
            }

            .full-introduction {
              display: inline-block;
              width: 176px;
              padding: 16px 0;
              margin: 0 auto;
              background-color: #000;
              border-radius: 5px;
              border: none;

              span {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                font-family: 'Noto Sans';
              }
            }
          }
        }
      }

      &:nth-of-type(1) {
        background-image: url('./images/introduction1.jpg');
        position: relative;
        &::before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          background-color: #272727;
          opacity: 0.4;
        }
      }

      &:nth-of-type(2) {
        background-image: url('./images/introduction2.png');
        background-color: #c0effe;
      }

      &:nth-of-type(3) {
        background-image: url('./images/introduction3.png');
      }
    }
  }
}

.index-page .main .service {
  padding: 120px 0;
  background-color: #fafafa;

  .service-content {
    position: relative;

    .service-title {
      width: 372px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 80px;
      color: #3b3b3b;

      .service-title-before,
      .service-title-after {
        width: 100px;
        position: relative;
      }

      .service-title-before {
        &::after {
          content: '';
          display: block;
          width: 100%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid #c1c1c1;
        }

        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: #c1c1c1;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .service-title-after {
        &::after {
          content: '';
          display: block;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border: 1px solid #c1c1c1;
        }

        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: #c1c1c1;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }

      h3 {
        font-family: 'Noto Sans';
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        line-height: 39px;
        letter-spacing: 0.12em;
      }
    }

    .service-lists {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      margin-bottom: 80px;
      list-style-type: none;

      li {
        width: 306px;
        height: 306px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);

        img {
          width: 80px;
          display: block;
          margin-bottom: 24px;
        }

        h4 {
          font-family: 'Noto Sans';
          font-size: 28px;
          font-weight: 700;
          line-height: 42px;
          color: #ffffff;
        }
      }
    }

    .help-more {
      width: 280px;
      margin: 0 auto;
      font-family: 'Noto Sans';
      font-size: 28px;
      font-weight: 600;
      line-height: 34px;

      p {
        margin-bottom: 40px;
      }

      button {
        padding: 16px 32px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 1);

        span {
          font-family: 'Noto Sans';
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          color: #ffffff;

        }
      }
    }

    .service-bg {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.index-page .main .popular-article {
  .popular-article-content {
    padding: 120px 0;

    .popular-article-title {
      width: 372px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 80px;
      color: #3b3b3b;

      .popular-article-title-before,
      .popular-article-title-after {
        width: 100px;
        position: relative;
      }

      .popular-article-title-before {
        &::after {
          content: '';
          display: block;
          width: 100%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid #c1c1c1;
        }

        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: #c1c1c1;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .popular-article-title-after {
        &::after {
          content: '';
          display: block;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border: 1px solid #c1c1c1;
        }

        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: #c1c1c1;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }

      h3 {
        font-family: 'Noto Sans';
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        line-height: 39px;
        letter-spacing: 0.12em;
      }
    }

    .popular-article-list {
      display: flex;
      margin-bottom: 40px;
      list-style-type: none;
      overflow-x: hidden;

      .article {

        width: 416px;

        &:not(:last-child) {
          margin-right: 24px;
        }

        img {
          display: block;
          margin-bottom: 16px;
        }

        .article-info {
          padding: 0 8px;

          h5 {
            width: 400px;
            font-family: 'Noto Sans';
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 16px;
          }

          >div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .category {
              padding: 4px 12px;
              font-family: 'Noto Sans';
              font-size: 16px;
              font-weight: 400;
              color: #3b3b3b;
              line-height: 24px;
              border-radius: 16px;
              background-color: #f1f1f1;
            }

            time {
              color: #5b5b5b;
              font-family: 'Noto Sans';
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
    }

    .dot-groups {
      width: 124px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      list-style-type: none;

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #000;

        &.active {
          background-color: #000;
        }
      }
    }
  }
}

.index-page .footer {
  position: relative;

  .footer-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    background-color: #fafafa;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    .left-footer {
      img {
        width: 120px;
        display: block;
        margin-bottom: 24px;
      }

      p:not(.our-mail) {
        width: 300px;
        font-family: 'Noto Sans';
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 24px;
        color: #3b3b3b;
      }

      .our-mail {
        font-family: 'Noto Sans';
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: #919191;
      }
    }

    .right-footer {
      width: 306px;
      padding: 80px 0;
      list-style-type: none;

      li {
        height: 72px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 24px;
        font-family: 'Noto Sans';
        font-size: 20px;
        font-weight: 700;
        border-radius: 8px;
        line-height: 30px;

        img {
          margin-right: 8px;
        }

        &:nth-of-type(1) {
          color: #fff;
          background-color: #000;
        }

        &:nth-of-type(2) {
          margin: 24px 0;
          color: #3b3b3b;
          background-color: #fff;
          border: 1px solid #c1c1c1
        }

        &:nth-of-type(3) {
          color: #3b3b3b;
          background-color: #fff;
          border: 1px solid #c1c1c1
        }
      }
    }
  }
}
