// @import './scss/_reset';
@import './scss/_variable';
@import './scss/_utility';

h6{

}  
// color: red;
  
  /*  font-size: 20px;   */


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: $default-fontfamily;
}

.header-bg {
  border-bottom: 1px solid #F1F1F1;

  .header-content {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .index-router {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      .logo-img {
        display: block;
      }
    }

    .toggle {
      display: none;
      position: relative;
      padding: 8px 0;
      right: 0;

      .open,
      .close {
        display: block;
      }
    }


    .nav-group {
      display: flex;
      padding: 32px 0;

      >ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          margin: 0 20px;
          padding: 4px 8px;
          position: relative;

          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            opacity: 0;
            transition: .3s;
          }

          &::before {
            left: 0;
            top: 0;
            border-top: 1px solid #919191;
            border-left: 1px solid #919191;
          }

          &::after {
            right: 0;
            top: 0;
            border-top: 1px solid #919191;
            border-right: 1px solid #919191;
          }

          &:hover::before,
          &:hover::after,
          &:hover a::before,
          &:hover a::after {
            opacity: 1;
          }


          a {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;

            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 8px;
              height: 8px;
              opacity: 0;
              transition: .3s;
            }


            &::before {
              left: 0;
              bottom: 0;
              border-left: 1px solid #919191;
              border-bottom: 1px solid #919191;
            }

            &::after {
              right: 0;
              bottom: 0;
              border-right: 1px solid #919191;
              border-bottom: 1px solid #919191;
            }
          }
        }
      }
    }
  }
}

.main-bg {
  background-color: $section-backgroungd-color;
}

.banner {
  .banner-content {
    max-width: 1296px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .h2-title {
      width: 670px;
      padding: 59px 71px;
      margin-bottom: 24px;
      text-align: center;
      position: relative;

      &::before {
        content: '';
        width: 72px;
        height: 72px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('./images/gridicons_quote.png');
        background-position: center;
        background-repeat: no-repeat;
      }

      &::after {
        content: '';
        width: 72px;
        height: 72px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url('./images/gridicons_quote1.png');
        background-position: center;
        background-repeat: no-repeat;
      }

      p {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        color: #1e1e1e;

        span {
          display: inline-block;
          background-image: url('./images/Vector.png');
          background-position: center calc(100% + 2px);
          background-size: auto;
          background-repeat: no-repeat;
        }

        &:nth-child(1) {
          margin-bottom: 16px;
        }
      }
    }

    .content-2B2C {
      width: 636px;
      display: flex;
      justify-content: space-between;

      .to-b,
      .to-c {
        width: 298px;
        text-align: center;

        p {
          margin-bottom: 12px;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          color: #5B5B5B;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 24px;
            left: 50%;
            bottom: -4px;
            transform: translateX(-50%);
            border: 1px solid #C1C1C1;
          }
        }

        h3 {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          color: #3B3B3B;
        }
      }
    }
  }
}

.articles {
  @include container-1296;
  padding: 120px 0;

  .article-setting {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;

    .article-list {
      max-width: 636px;
      margin-bottom: 80px;

      .img {
        //圖片原圖寬為636px
        //設計稿Layout為636px(有包含邊線)
        //所以得設定圖片寬度為100%
        //display: block消除底下有空白
        display: block;
        border: 1px solid #F1F1F1;
        border-radius: 8px;
        margin-bottom: 16px;
      }

      .info {
        padding: 0 16px;

        .title {
          font-size: $h3-fsize28;
          font-weight: $h3-weight700;
          line-height: $h3-lineheight;
          color: $h3-color;
          margin-bottom: 8px;
        }

        p {
          @include fs-6;
          color: #919191;
          margin-bottom: 24px;
        }

        .tags {
          display: flex;
          list-style-type: none;

          .tag {
            @include fs-6;
            padding: 4px 12px;
            margin-right: 16px;
            color: #3B3B3B;
            background-color: #F1F1F1;
            border-radius: 16px;
          }
        }
      }
    }
  }
}

.page-group {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style-type: none;

  li:nth-of-type(2) {
    margin: 0 16px;
  }

  .page {
    @include fs-4;
    //a 為inline元素，即使line-height設定36px，也無法對其設定高度
    //雇用此置中方式
    display: grid;
    place-items: center;
    padding: 2px 13px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;

    &:hover,
    &.active {
      background-color: #1e1e1e;
      color: #fff;
    }
  }
}

.footer-bg {
  padding: 80px 0;
  background-image: url('./images/footer-bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .footer-content {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


    .footer-img {
      display: block;
    }

    .desc {
      margin: 24px 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      color: #3B3B3B;
    }

    .our-mail {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
      color: #919191;

    }
  }

  .footer-sociality {
    width: 306px;

    li {
      border: 1px solid #1a1717;
      border-radius: 8px;
      background-color: #fff;
      border: 1px solid #C1C1C1;

      a {
        padding: 8px 0 8px 24px;
        display: block;
        display: flex;
        align-items: center;

        span {
          font-size: 20px;
          font-weight: 400;
          line-height: 1.5;
          color: #3B3B3B;
          margin-left: 8px;
        }
      }

      &:nth-child(1) {
        background-color: #000;

        span {
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.5;
        }
      }

      &:nth-child(2) {
        margin: 24px 0;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .articles {
    max-width: 992px;

    .article-setting {

      .article-list {
        width: 50%;
        padding: 0 10px;

        img {
          width: 100%;
        }
      }
    }
  }

  .footer-bg {
    padding: 0 20px;
  }
}

@media screen and (max-width: 992px) {
  .articles {
    max-width: 767px;

    .article-setting {
      .article-list {
        .info {
          .title {
            font-size: 20px;
          }

          .tags {
            .tag {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header-bg {

    .header-content {
      justify-content: flex-end;

      .nav-group {
        padding: 56px 0 0 0;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        z-index: -1;
        background-color: #fff;
        padding: 40px 0;
        opacity: 0;
        transition: .5s;

        >ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        &:hover {
          opacity: 1;
          z-index: 1;
        }

        li {
          margin: 12px 0;
          display: inline-block;
        }
      }


      .toggle {
        display: block;

        &:hover+.nav-group {
          z-index: 1;
        }

        .close {
          display: none;
        }
      }
    }
  }

  .banner {
    .banner-content {
      .h2-title {
        width: 100%;
        padding: 64px 10% 0;
        margin-bottom: 40px;

        p {
          font-size: 20px;
        }

        &::before {
          width: 64px;
          height: 64px;
          left: 50%;
          transform: translateX(-50%);
        }

        &::after {
          display: none;
        }
      }

      .content-2B2C {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .articles {
    padding: 80px 0;

    .article-setting {
      justify-content: center;

      .article-list {
        width: 100%;

        .info {
          .title {
            font-size: 22px;
          }

          .tags {
            .tag {
              font-size: 12px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .footer-bg {
    padding: 40px 20px;
    background-image: url('./images/footer-bg-sm.png');

    .footer-content {
      align-items: center;
      flex-direction: column;

      .footer-img {
        margin: 0 auto;
      }

      .our-mail {
        text-align: center;
        display: block;
      }
    }

    .footer-sociality {
      padding-top: 40px;
    }
  }
}
