@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

header {
  border-bottom: 1px solid #f1f1f1;
}

.header-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
}
.header-content .header-h1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header-content .header-h1 img {
  display: block;
}
.header-content .nav-routers {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.header-content .nav-routers li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 8px;
  margin: 0 20px;
  position: relative;
}
.header-content .nav-routers li:hover, .header-content .nav-routers li:hover .dummy-dom1::before, .header-content .nav-routers li:hover .dummy-dom2::before, .header-content .nav-routers li:hover .dummy-dom1::after, .header-content .nav-routers li:hover .dummy-dom2::after {
  opacity: 1;
  font-weight: 600;
}
.header-content .nav-routers li a {
  text-decoration: none;
}
.header-content .nav-routers li .dummy-dom1,
.header-content .nav-routers li .dummy-dom2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.header-content .nav-routers li .dummy-dom1::before {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header-content .nav-routers li .dummy-dom1::after {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header-content .nav-routers li .dummy-dom2::before {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
.header-content .nav-routers li .dummy-dom2::after {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}

main {
  background-color: #FAFAFA;
}

.slogan {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 80px 0;
}
.slogan .slogan-concept {
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  width: 670px;
  padding: 59px 71px;
  margin: 0 auto 24px;
  position: relative;
  text-align: center;
}
.slogan .slogan-concept p {
  margin-bottom: 16px;
}
.slogan .slogan-concept::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background-image: url("./images/gridicons_quote.png");
}
.slogan .slogan-concept::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  right: 0;
  bottom: 0;
  background-image: url("./images/gridicons_quote1.png");
}
.slogan .other-service {
  display: flex;
  justify-content: center;
}
.slogan .other-service .service-2B,
.slogan .other-service .service-2C {
  width: 298px;
  margin: 0 20px;
  text-align: center;
}
.slogan .other-service .h3-2B {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5B5B5B;
  padding-bottom: 4px;
  margin-bottom: 8px;
  position: relative;
}
.slogan .other-service .h3-2B p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3B3B3B;
}
.slogan .other-service .h3-2B::before {
  content: "";
  width: 24px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 2px solid #c1c1c1;
}
.slogan .other-service .h3-2C {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5B5B5B;
  padding-bottom: 4px;
  margin-bottom: 8px;
  position: relative;
}
.slogan .other-service .h3-2C p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3B3B3B;
}
.slogan .other-service .h3-2C::before {
  content: "";
  width: 24px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 2px solid #c1c1c1;
}

.articles {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 120px 0;
}
.articles .article-setting {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.articles .article-setting .article-list {
  max-width: 636px;
  margin-bottom: 80px;
}
.articles .article-setting .article-list .img {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
}
.articles .article-setting .article-list .info {
  padding: 0 16px;
}
.articles .article-setting .article-list .info .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #3B3B3B;
  margin-bottom: 8px;
}
.articles .article-setting .article-list .info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
  margin-bottom: 24px;
}
.articles .article-setting .article-list .info .tags {
  display: flex;
  list-style-type: none;
}
.articles .article-setting .article-list .info .tags .tag {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 12px;
  margin-right: 12px;
  color: #3B3B3B;
  background-color: #F1F1F1;
  border-radius: 16px;
}

.page-group {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.page-group li:nth-of-type(2) {
  margin: 0 16px;
}
.page-group .page {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 2px 13px;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}
.page-group .page:hover, .page-group .page.active {
  background-color: #1e1e1e;
  color: #fff;
}

.footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/footer-bg.svg");
}
.footer .footer-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
.footer .footer-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);
  background-color: #fafafa;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.footer .footer-content .contact img {
  display: block;
  margin-bottom: 24px;
}
.footer .footer-content .contact p:not(.our-mail) {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 300px;
  margin-bottom: 24px;
  color: #3b3b3b;
}
.footer .footer-content .contact .our-mail {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
}
.footer .footer-content .community {
  width: 306px;
  padding: 80px 0;
  list-style-type: none;
}
.footer .footer-content .community li {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 8px;
}
.footer .footer-content .community li img {
  margin-right: 8px;
}
.footer .footer-content .community li span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.footer .footer-content .community li:nth-of-type(1) {
  color: #fff;
  background-color: #000;
}
.footer .footer-content .community li:nth-of-type(2) {
  margin: 24px 0;
  color: #3b3b3b;
  background-color: #fff;
  border: 1px solid #c1c1c1;
}
.footer .footer-content .community li:nth-of-type(3) {
  color: #3b3b3b;
  background-color: #fff;
  border: 1px solid #c1c1c1;
}

@media screen and (max-width: 1440px) {
  .header-content {
    max-width: 992px;
  }
  .articles {
    max-width: 992px;
    padding: 80px 5%;
  }
  .articles .article-setting .article-list {
    width: 50%;
    padding: 0 10px;
  }
  .footer .footer-content {
    max-width: 992px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 992px) {
  .articles .article-setting .article-list .info .title {
    font-size: clamp(24px, 1.5vw, 28px);
  }
  .articles .article-setting .article-list .info .tags .tag {
    font-size: clamp(12px, 1.5vw, 16px);
  }
  .page-group .page {
    padding: 0 12px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .slogan {
    padding: 40px;
  }
  .slogan .slogan-concept {
    width: 100%;
    padding: 64px 5% 40px;
    margin: 0;
    font-size: clamp(18px, 5vw, 24px);
  }
  .slogan .slogan-concept::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .slogan .slogan-concept::after {
    display: none;
  }
  .slogan .other-service {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .slogan .other-service .service-2B,
  .slogan .other-service .service-2C {
    font-size: 20px;
  }
  .slogan .other-service .service-2B {
    margin-bottom: 20px;
  }
  .articles {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
  }
  .articles .article-setting {
    align-items: center;
  }
  .articles .article-setting .article-list {
    width: 100%;
    max-width: inherit;
  }
  .footer .footer-content {
    flex-direction: column;
  }
  .footer .footer-content .contact {
    padding: 40px;
  }
  .footer .footer-content .community {
    padding: 40px 0;
  }
}/*# sourceMappingURL=portfolio.css.map */