@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

main {
  background-color: #FAFAFA;
}

.nav-toggle {
  display: none;
}
.nav-toggle .close {
  display: none;
}

header {
  border-bottom: 1px solid #f1f1f1;
}

.header-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
}
.header-content .header-h1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header-content .header-h1 img {
  display: block;
}
.header-content .nav-routers {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.header-content .nav-routers li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 8px;
  margin: 0 20px;
  position: relative;
}
.header-content .nav-routers li:hover, .header-content .nav-routers li:hover .dummy-dom1::before, .header-content .nav-routers li:hover .dummy-dom2::before, .header-content .nav-routers li:hover .dummy-dom1::after, .header-content .nav-routers li:hover .dummy-dom2::after {
  opacity: 1;
  font-weight: 600;
}
.header-content .nav-routers li a {
  text-decoration: none;
}
.header-content .nav-routers li .dummy-dom1,
.header-content .nav-routers li .dummy-dom2 {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.header-content .nav-routers li .dummy-dom1::before {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header-content .nav-routers li .dummy-dom1::after {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}
.header-content .nav-routers li .dummy-dom2::before {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
.header-content .nav-routers li .dummy-dom2::after {
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: 0.5s;
  content: "";
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}

.service {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 120px 0;
}
.service .service-title {
  width: 372px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3b3b3b;
}
.service .service-title .service-title-before,
.service .service-title .service-title-after {
  width: 100px;
  position: relative;
}
.service .service-title .service-title-before::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.service .service-title .service-title-before::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.service .service-title .service-title-after::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.service .service-title .service-title-after::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.service .service-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.12em;
  color: #3B3B3B;
}
.service .service-lists {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.service .service-lists li {
  width: 306px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
}
.service .service-lists li img {
  width: 80px;
  display: block;
  margin-bottom: 24px;
}
.service .service-lists li h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #FFFFFF;
}

.process {
  padding: 120px 0;
  background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
}
.process .process-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
.process .process-content .process-title {
  width: 372px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process .process-content .process-title .process-title-before,
.process .process-content .process-title .process-title-after {
  width: 100px;
  position: relative;
}
.process .process-content .process-title .process-title-before::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.process .process-content .process-title .process-title-before::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.process .process-content .process-title .process-title-after::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.process .process-content .process-title .process-title-after::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.process .process-content .process-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.12em;
  color: #3B3B3B;
  color: #fff;
}
.process .process-content > ul {
  width: 655px;
  margin: 0 auto;
}
.process .process-content > ul > li {
  background-color: #3B3B3B;
  padding: 24px 32px;
  border: 1px solid #919191;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.process .process-content > ul > li span {
  font-family: "Tourney", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  color: #919191;
  display: inline-block;
  margin-right: 32px;
}
.process .process-content > ul > li h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.process .process-content > ul > li P {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #E9E9E9;
}
.process .process-content > ul .process-arrow-down {
  display: block;
  margin: 16px auto;
}

.price {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 120px 0;
}
.price .price-title {
  width: 372px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price .price-title .price-title-before,
.price .price-title .price-title-after {
  width: 100px;
  position: relative;
}
.price .price-title .price-title-before::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.price .price-title .price-title-before::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.price .price-title .price-title-after::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.price .price-title .price-title-after::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.price .price-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.12em;
  color: #3B3B3B;
}
.price .plans {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.price .plans .plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  padding-right: 36px;
  border-radius: 8px;
  background: #FAFAFA;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0784313725);
}
.price .plans .plan img {
  margin-right: 8px;
}
.price .plans .plan h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: #5B5B5B;
}
.price .plans .plan P {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #1E1E1E;
}
.price .plans .plan .line {
  width: 41px;
  margin: 0 16px;
  display: inline-block;
  border: 1px solid #C1C1C1;
}
.price .plans .plan .unit {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: 6px;
  left: calc(100% + 8px);
  color: #5B5B5B;
}

.cases {
  background-color: #FAFAFA;
}
.cases .case-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 120px 0;
}
.cases .case-content .case-title {
  width: 372px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cases .case-content .case-title .case-title-before,
.cases .case-content .case-title .case-title-after {
  width: 100px;
  position: relative;
}
.cases .case-content .case-title .case-title-before::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.cases .case-content .case-title .case-title-before::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cases .case-content .case-title .case-title-after::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.cases .case-content .case-title .case-title-after::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.cases .case-content .case-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.12em;
  color: #3B3B3B;
}
.cases .case-content .case-setting {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px 0;
  list-style-type: none;
}
.cases .case-content .case-setting .case {
  max-width: 636px;
}
.cases .case-content .case-setting .case .img {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
}
.cases .case-content .case-setting .case .info {
  padding: 0 16px;
}
.cases .case-content .case-setting .case .info .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #3B3B3B;
  margin-bottom: 8px;
}
.cases .case-content .case-setting .case .info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
  margin-bottom: 24px;
}
.cases .case-content .case-setting .case .info .tags {
  display: flex;
  list-style-type: none;
}
.cases .case-content .case-setting .case .info .tags .tag {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 12px;
  margin-right: 12px;
  color: #3B3B3B;
  background-color: #F1F1F1;
  border-radius: 16px;
}

.QA .qa-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 120px 0;
}
.QA .qa-content .qa-title {
  width: 372px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.QA .qa-content .qa-title .qa-title-before,
.QA .qa-content .qa-title .qa-title-after {
  width: 100px;
  position: relative;
}
.QA .qa-content .qa-title .qa-title-before::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.QA .qa-content .qa-title .qa-title-before::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.QA .qa-content .qa-title .qa-title-after::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #c1c1c1;
}
.QA .qa-content .qa-title .qa-title-after::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.QA .qa-content .qa-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.12em;
  color: #3B3B3B;
}
.QA .qa-content .qa-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 1076px;
  margin: 0 auto;
  list-style-type: none;
}
.QA .qa-content .qa-list > li {
  padding: 24px 37px 12px 12px;
  border-radius: 8px;
  border: 1px solid #E9E9E9;
}
.QA .qa-content .qa-list > li h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  margin-bottom: 16px;
  color: #3B3B3B;
}
.QA .qa-content .qa-list > li p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #5B5B5B;
}

.footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/footer-bg.svg");
}
.footer .footer-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
.footer .footer-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);
  background-color: #fafafa;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.footer .footer-content .contact img {
  display: block;
  margin-bottom: 24px;
}
.footer .footer-content .contact p:not(.our-mail) {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 300px;
  margin-bottom: 24px;
  color: #3b3b3b;
}
.footer .footer-content .contact .our-mail {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
}
.footer .footer-content .community {
  width: 306px;
  padding: 80px 0;
  list-style-type: none;
}
.footer .footer-content .community li {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 8px;
}
.footer .footer-content .community li img {
  margin-right: 8px;
}
.footer .footer-content .community li span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.footer .footer-content .community li:nth-of-type(1) {
  color: #fff;
  background-color: #000;
}
.footer .footer-content .community li:nth-of-type(2) {
  margin: 24px 0;
  color: #3b3b3b;
  background-color: #fff;
  border: 1px solid #c1c1c1;
}
.footer .footer-content .community li:nth-of-type(3) {
  color: #3b3b3b;
  background-color: #fff;
  border: 1px solid #c1c1c1;
}

@media screen and (max-width: 1440px) {
  .service {
    max-width: 992px;
  }
  .service .service-lists {
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .service .service-lists li {
    width: 48%;
  }
  .price .plans {
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
  }
  .cases .case-content {
    max-width: 992px;
  }
  .cases .case-content .case-setting > li {
    width: 48%;
    margin: 0 auto;
    padding: 16px 0;
  }
  .QA .qa-content {
    max-width: 992px;
  }
  .QA .qa-content .qa-list {
    padding: 0 16px;
    width: 100%;
  }
  .footer .footer-content {
    max-width: 992px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    justify-content: space-between;
    padding: 8px 12px;
  }
  .header-content .header-h1 {
    position: unset;
    transform: translateY(0%);
  }
  .header-content .nav-toggle {
    display: block;
    font-size: 0;
  }
  .header-content .nav-toggle:hover {
    cursor: pointer;
  }
  .header-content .nav-toggle:hover .burger {
    display: none;
  }
  .header-content .nav-toggle:hover .close {
    display: block;
  }
  .header-content .nav-toggle:hover + nav {
    z-index: 1;
  }
  .header-content .nav-toggle .close {
    display: none;
  }
  .header-content nav {
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
  }
  .header-content nav:hover {
    z-index: 1;
  }
  .header-content nav .nav-routers {
    padding: 12px 0;
    display: inherit;
    text-align: center;
  }
  .header-content nav .nav-routers li .router-position-768 {
    padding: 4px 8px;
    position: relative;
    display: inline-block;
  }
  .service .service-title {
    width: 100%;
  }
  .service .service-lists {
    flex-direction: column;
  }
  .service .service-lists li {
    width: 100%;
  }
  .process .process-content .process-title {
    width: 100%;
  }
  .process .process-content > ul {
    padding: 0 16px;
    width: 100%;
  }
  .process .process-content > ul > li {
    flex-direction: column;
  }
  .process .process-content > ul > li span {
    margin: 0 0 8px;
    font-size: 48px;
    line-height: 57.6px;
  }
  .process .process-content > ul > li h4 {
    text-align: center;
  }
  .price .price-title {
    width: 100%;
  }
  .price .plans {
    min-width: 90%;
  }
  .price .plans .plan {
    padding: 10px;
  }
  .price .plans .plan h4 {
    font-size: clamp(18px, 3vw, 22px) !important;
  }
  .price .plans .plan .line {
    width: 20px;
  }
  .cases .case-content .case-title {
    width: 100%;
  }
  .cases .case-content .case-setting {
    padding: 0 16px;
    flex-direction: column;
  }
  .cases .case-content .case-setting .case {
    width: 100%;
    max-width: unset;
  }
  .cases .case-content .case-setting .case .info .title {
    font-size: clamp(22px, 5vw, 28px) !important;
  }
  .QA .qa-content .qa-title {
    width: 100%;
  }
  .QA .qa-content .qa-list {
    padding: 0 16px;
    grid-template-columns: 1fr;
  }
  .footer .footer-content {
    flex-direction: column;
    padding: 40px;
  }
  .footer .footer-content .contact {
    margin-bottom: 40px;
  }
  .footer .footer-content .contact img {
    margin: 0 auto 24px;
  }
  .footer .footer-content .community {
    padding: 0;
  }
}/*# sourceMappingURL=service.css.map */